.login {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    background-color: #f1f5f9;
    height: 100vh;

    * {
        font-family: 'Nunito', sans-serif;
    }

}

.left{
    width: 100%;
    padding-inline: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.logo{
    height: 100px;
    width: 240px;
    object-fit: cover;
}

.title{
    margin: 0
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input{
    border: 1px solid #dedede;
    background-color: #fff;
    border-radius: 8px;
    font-size: 1rem;
    padding: 8px 16px;
    width: 100%;
}

.submit{

}

.separator{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.line{
    display: block;
    width: 100%;
    height: 1px;
    background-color: #c5c4c4;

}

.line-text{
    position: absolute;
    padding: 4px;
    background-color: #f1f5f9;
}

.socials{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.icon{
    width: 28px;
    height: 28px;
    margin-right: 1rem;
}

.bottom{

}

.signup{
    font-weight: 700;
}

.right{
    height: 100%;
    display: grid;
    place-items: center;
}

.hero{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

@media only screen and (max-width: 768px){
    .login{
        grid-template-columns: 1fr;
    }

    .right{
        display: none;
    }
}
