.wrapper {
    width: 100%;
    height: fit-content;
    min-height: 200px;
    background-color: #fff;
    border-radius: 4px;
    padding: 1.25rem;

}

.top {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    >a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(20, 184, 184);

        &:hover {
            filter: brightness(80%);
            color: currentColor;
        }
    }


}

.body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.row {
    width: 100%;
    font-size: 1rem;
    overflow: hidden;

    .title {
        font-weight: 500;
        color: var(--secondary);
    }

    .value {
        color: #333;
    }
}

.delete {
    cursor: pointer;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #d42a59;
    transition: all 200ms ease-in;

    &:hover {
        color: #fff;
        background-color: #d42a59;
    }

    .delete-icon {
        color: inherit;
        font-size: 1.25rem;
    }
}