@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nunito:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400&family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;500;600&display=swap');

:root{
  --header-height: 90px;
  --hero-height: 660px;
  --secondary: #b75b33;
}


button{
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
}

a{
  text-decoration: none;
}

ul{
  padding-left: 0;
  list-style: none;
}

body, html{
  padding: 0;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

h1{
  margin: 0;
}

body, #root{
  overflow-x: hidden;
}

body{
  min-height: 100vh;
}


/* Customize slick dot with image */
.slick-dots {
  position: unset;
  margin-top: 0.5rem;
  overflow-x: auto;
}

.slick-dots li{
  width: 60px;
  height: 60px;
  border: 1px solid transparent;
  overflow: hidden;
}

.slick-dots li + li{
  margin-left: 8px;
}

li.slick-active{
  border: 1px solid #333;
}

.slick-thumb{
  text-align: center;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg,#57c2c7, #c82657);
  border-radius: 2px;
  transition: background 1000ms ease-in;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #c82657, #401563);
}



