@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nunito:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400&family=Roboto:wght@400;500;700&display=swap');

:root{
  --header-height: 90px;
  --hero-height: 660px;
  --secondary: #b75b33;
}

button{
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
}

a{
  text-decoration: none;
}

ul{
  padding-left: 0;
  list-style: none;
}

body, html{
  padding: 0;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

h1{
  margin: 0;
}

body, #root{
  overflow-x: hidden;
}


