.form {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 2.5rem;
    row-gap: 2rem;
    font-family: 'Roboto', sans-serif;

}

.title {
    padding-block: 40px;
    text-align: center;
    font-size: 2.4rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.group {
    max-height: 212px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 40px 40px;
    row-gap: 10px;
    // align-items: center;
    place-items: start stretch; ;


    &.textarea-group{
        grid-row: span 2;
        grid-template-rows: 4fr 1fr;
    }

    &.group-file{
        grid-row: span 2;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 1rem;
    }
}

.label {
    min-width: 120px;
}

.type-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.textarea{
    height: 100% !important;
}

.file {
    display: none;
}

.file-label {
    padding: 0.75rem;
    background-color: #fff;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.75rem;
    cursor: pointer;
    
}

.image-list {
    grid-column: 1 / -1;
    display: flex;
    height: 100%;
    width: 100%;    
    align-items: center;
    gap: 8px;
}

.image-item {
    
}

.upload-img{
    height: 60px;
    max-width: 60px;
    object-fit: cover;
}

.upload-icon{
    font-size: 1.5rem;
}

.label-text{
    font-weight: 600;
}

.validate-error {
    grid-column: 1 / -1;
    color: rgb(255, 24, 24);
    font-weight: 600;
}

.submit {
    place-self: center;
    display: inline-block;
    grid-column: 1 / -1;
    width: Min(80%, 200px);
    border: 2px dashed #122a41;
    border-radius: 8px;
    font-size: 1rem;
    padding: 8px 16px;
    transition: background-color 200ms linear;

    &:hover {
        background-color: #333;
        color: #fff;
    }
}

.type-btn {
    background-color: #fff;
    padding: 5px;
    border-radius: 4px;
    min-width: 120px;
    text-align: center;
    cursor: pointer;
}

.select{
    flex: 1;
}

@media only screen and (max-width: 1024px) {
    .form{
        grid-template-columns: 1fr;
    }
}