.wrapper {
    padding-block: 2rem;
    background-color: var(--primary-2);
}

.status {
    font-weight: 600;
    font-size: 1.25rem;
    text-align: right;

    >span {
        color: var(--secondary);
    }
}

.date{
    color: #8d8d8d;
    font-size: .8rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.address{
    font-size: .9rem;
    color: #333;
}

.address-label{
    color: var(--secondary);
    font-size: 1rem;
    font-weight: 500;
}

.user{
    font-size: 1rem;
    font-weight: 500;
}