.wrapper{
    padding-block: var(--content-block-pad);
    height: auto;
    background-color: var(--primary-2);
}

.search{
}

.title{
    
}

@media only screen and (max-width: 739px){
    .wrapper{
        padding-inline: 1rem;
    }
}