.form{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
    row-gap: 2rem;
    font-family: 'Roboto', sans-serif;

}

.title{
    margin-top: 40px;
    text-align: center;
    font-size: 2.4rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.group{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 40px 30px;
    row-gap: 10px;
}

.label{
    min-width: 120px;
    place-self: center start;
}

.input{
    flex: 1;
    font-size: 1rem;
    border-radius: 4px;
    padding: 8px 12px;
    outline: none;
    border: 1px solid transparent;
    background-color:#f1f5f9;

    &:hover, &:focus{
        border-color: #6905ad;
    }
}

.file{
    // display: none;
}


.validate-error{
    grid-column: 1 / -1;
    color: rgb(255, 24, 24);
    font-weight: 600;
}

.submit{
    place-self: center;
    display: inline-block;
    grid-column: 1 / -1;
    width: Min(80%, 200px);
    border: 2px dashed #122a41;
    border-radius: 8px;
    font-size: 1rem;
    padding: 8px 16px;
    transition: background-color,color 300ms linear;

    &:hover{
        background-color: #333;
        color: #fff;
    }
}