.wrapper{
    padding-inline: 1rem;
}

.item-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    column-gap: 1rem;
    height: 100%;
    max-height: 80px;
    align-items: center;

    + .item-wrapper{
        margin-top: 1rem;
    }
}

.img-wrapper {
    position: relative;
    height: 80px;
    aspect-ratio: 1 / 1;
    border: 1px solid #bebeeb;
    border-radius: 8px;
    // overflow: hidden;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    color: #fff;
    font-weight: 500;
    border-radius: 50%;
    background-color: var(--secondary);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.name {
    padding-inline: 0.5rem;
    font-size: 1rem;
    text-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.price {
    text-align: right;
    font-size: 1.1rem;
}


.list-temp-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.primary {
        >span:nth-child(1) {
            font-size: 1.2rem;
        }

        >span:nth-child(2) {
            font-weight: 600;
            font-size: 1.5rem;
        }
    }
}