.form {
    font-family: 'Roboto', sans-serif;
}

.group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: .75rem; 
}

.content-row {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    column-gap: 1.5rem;
    row-gap: 2rem;
}

.content-col {
   
}

.input{
    width: 100% !important;
}

.label{
    display: block;
    font-weight: 600;
    color: #0f1e28;
    font-size: 1.1rem;
    margin-block: 0.75rem;
}

.row-label {
    font-weight: 500;
    color: #333;
}

.remove{
    place-self: center;

    .remove-icon{
        font-size: 1.8rem;
        color: #d42a59;
    }
}

.submit{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
}
