.wrapper{
    padding-block: 1rem;

}

.title{
    font-size: 2rem;
    font-weight: 600;
    color: #1b184d;
}


.item-wrapper{
    box-shadow: 2px 4px 10px rgba(0,0,0,0.1);
    padding: 1.5rem;
    color: #35305d;
}

.item-title{
    font-size: 1.2rem;
    font-weight: 600;
}

.item-amount{
    font-size: 2rem;
    font-weight: 700;
    color: #35305d;
}

.item-icon{
    font-size: 1.8rem;
    color: var(--primary-1);
}

.item-recent-added{

}
