.wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 280px;
    // box-shadow: 12px 0px 11px rgb(0 0 0 / 20%);
    z-index: 10;
    transition: all 100ms ease-in-out;

    &.minimized {
        max-width: 20px;
        background-color: rgba(14, 30, 41, 0.2);
        border: 1px solid #fafafa;
        cursor: pointer;

        &:hover{
            background-color: rgba(14, 30, 41, 0.102);

            & > .expand-btn{
                background-color: #dadfe4;
            }
        }

        & > .panel{
            display: none;
        }
    }
}

.panel {
    width: 100%;
    height: 100%;
    background-color: #0e1e29;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 12px;
}

.info {
    display: flex;
    gap: 0.5rem;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    object-fit: cover;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {}

.role {}

.minimize {
    color: #fff;
    font-size: 0.8rem;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 250ms ease-in;

    &:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

}

.mid {}

.list-title {
    padding: 14px 12px;
    font-weight: 600;
    font-size: 1.1rem;
}

.sidebar-item {
    display: block;
    color: inherit;
    padding: 8px 12px;
    transition: background-color 250ms ease-in;

    &:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }
}

.item-left-icon {
    color: inherit;
    margin-right: 1rem;
}

.options-icon {}

.bot {
    padding: 14px 12px;

}

.logout-btn {
    font-size: 1rem;
    width: 100%;
    padding: 8px 12px;
    border-radius: 4px;
    text-align: left;
    color: #fff;
    background: linear-gradient(97.78deg, #4423a3 17.5%, #aa63cb 113.39%);

    &:hover {
        background: linear-gradient(270deg, #403294 0%, #172b4d 100%);
    }
}

.logout-icon {
    margin-right: 1rem;
    transform: translateY(1px);
}

.expand-btn {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 1rem;
    left: 100%;
    transform: translateX(-50%);
    background-color: #c4cacf;
    border-radius: 50%;
    border: 1px solid #fafafa;
    cursor: pointer;
}

.hidden{
    display: none;
}