.menu {
    background-color: #232425;
    width: 260px;
    border-radius: 8px;
    height: fit-content;
    padding: 16px;
    box-shadow: 2px 3px 15px rgba(255, 255, 255, 0.6);
    color: #fff;

}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link {
    color: inherit;
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.profile-wrapper{
    display: flex;
    align-items: center;
    gap: 1rem;

    .avatar-wrapper {
        width: 48px;
        height: 48px;
        border-radius: 6px;
        overflow: hidden;
    
        .avatar {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }  
    }

    .name{
        flex: 1;
    }
}



.icon-wrapper {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: #3a3b3c;
    margin-right: 1rem;
}

.icon {
    font-size: 1rem;
}