.outer-wrapper {
    padding-block: var(--content-block-pad);
    // position: relative;
}

.item-wrapper {
    width: 100%;
    height: 120px;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    transition: 300ms;

    +.item-wrapper {
        margin-top: 12px;
    }

    &.reverse {
        flex-direction: row-reverse;
    }

    &:hover {
        background-color: var(--primary);
        color: var(--white);

        & .item-img {
            transform: translateX(-8px) rotateZ(-10deg) scale(1.15);
            box-shadow: 3px 1px 20px rgba(0, 0, 0, 0.1);
            animation: 500ms shine linear;
        }
    }
}


.left,
.right {
    opacity: 1;
    transition: 300ms;
    transition-delay: 200ms;

    &.hidden {
        opacity: 0;
        animation: cubic-bezier(.99, 1.02, 0, 0);
    }
}

.right {}

.computer {
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 120px;
    height: 120px;
    overflow: hidden;
    cursor: pointer;
    transition: width 300ms ease-in-out, left 300ms ease-in-out;

    &.animate {
        left: 60px;
        transform: translate(-60px, -50%);
        display: flex;
        align-items: center;
        gap: 2rem;
        width: 100%;
        // height: 100%;
        border-radius: 0;
        background-color: var(--white);

        &:hover {
            box-shadow: none;
        }

        &>.computer-info {
            opacity: 1;
            transform: scale(1);
            // transition: 300ms;
            // transition-delay: 0ms;
        }

        &>.computer-icon {
            width: 120px;
            height: 120px;
        }
    }
}



.computer-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.computer-info {
    flex: 1;
    opacity: 0;
    transform: scale(0);
    transform-origin: 100% 50%;
    transition: opacity 300ms ease-in-out, transform 200ms 300ms ease-in-out;
    // transition-delay: 300ms;
}

.computer-heading {
    font-size: 1.5rem;
    font-family: 'Kaushan Script', cursive;
    font-weight: 600;
    color: var(--secondary);
}

.computer-desc {
    font-size: 1rem;
    font-weight: 600;
}


.item-image {
    height: 100%;
    aspect-ratio: 1 / 1;
}

.item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 300ms;
}
.item-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 40px;

    &.reverse {
        padding-left: 40px;

        &>.item-name,
        .item-desc {
            text-align: right;
        }
    }
}

.item-name {
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--secondary);
}

.item-desc {
    font-size: 1rem;
    font-weight: 600;
}

@media only screen and (max-width: 1140px) {
    .item-info {
        gap: 0;
        padding-right: 0;

        &.reverse {
            padding-left: 0;
        }
    }

    .computer {
        display: none;
    }

    .right {
        margin-top: 32px;
    }
}