.wrapper{
    background-color: #e2e8ef;
    height: 160px;
    padding-inline: 1rem;
}

.inner{
    height: 100%;
    display: flex !important;
    align-items: center;
}

.link + .link{
    margin-left: 20px;

    &::before{
        content: "/";
        position: relative;
        left: -10px;
    }
}

.link{
    display: inline-block;
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;  
    color: #65748a;

    &:hover{
        color: var(--secondary);
    }
}