.outter {
    width: 100%;
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    align-items: flex-start;
    height: var(--hero-height);
    margin-top: calc(-1 * var(--header-height));
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), url('https://html-css-comfy-store-js-course.netlify.app/assets/main-bcg.jpeg') center/cover;
    position: relative;
    z-index: -1;
    padding-inline: 1rem;
}

.inner{
    width: 100%;
    height: fit-content;
    position: absolute;
    bottom: 6rem;
    color: inherit;
}

.title {
    color: inherit;
    font-size: 5.25rem;
    letter-spacing: 5px;
}

.text {
    color: inherit;
    font-size: 2.75rem;
    margin: 1.5rem 0;
    letter-spacing: 3px;
}

.shop {
    color: inherit;
    text-transform: uppercase;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid currentColor;
    font-size: 1rem;
    padding: 12px 24px;
    border-radius: 4px;
    letter-spacing: 2px;
}